body {
  background-color: #f0f0f0;
}
header {
  background-color: #f0f0f0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 0;
}
header article.sousuo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header article.sousuo .logo {
  color: #ff6d11;
  font-size: 15px;
  margin-right: 10px;
  margin-left: 15px;
}
header article.sousuo .uesr {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 15px;
}
header article.sousuo div {
  background-color: white;
  border: solid 0.5px #aaa;
  flex-grow: 1;
  margin: 10px 0px;
  padding: 5px 0;
  border-radius: 2px;
  color: #aaa;
  font-size: 12px;
}
header article.sousuo div .fa {
  margin: 5px 0 ;
  margin-left: 5px;
  font-size: 12px;
}
header label {
  position: absolute;
  right: 15px;
  top: 48px;
}
header label i.more {
  font-size: 12px;
  display: block;
  transform: rotate(-90deg);
  transition: 0.5s;
}
header article.all input {
  display: none;
}
header article.all div.part {
  display: flex;
}
header article.all div.part span {
  margin-left: 15px;
  color: #ff6d11;
  border-bottom: solid 2px #ff6d11;
  padding-bottom: 10px;
  font-size: 12px;
}
header article.all div.part ul {
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 53px;
  display: flex;
  justify-content: space-between;
}
header article.all div.part ul li {
  display: flex;
  font-size: 12px;
}
header article.all input:checked + label > i {
  transform: rotate(90deg);
}
header article.all input:checked + label + div {
  display: none;
}
header article.all input:checked + label + div + div {
  display: block;
}
header article.all div.all {
  font-size: 12px;
  padding-bottom: 15px;
  margin: 0px;
  display: none;
}
header article.all div.all span {
  margin-left: 15px;
}
header article.all div.all ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header article.all div.all ul div {
  display: flex;
  justify-content: space-evenly;
}
header article.all div.all ul li {
  width: 20%;
  height: 30px;
  margin-top: 15px;
  border: solid 1px #ddd;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #aaa;
  background-color: #fff;
  color: #555;
  font-size: 12px;
}
header article.all div.all ul div:first-child li:first-child {
  border: solid 1px #ff6d11;
  background-color: #f8e9d9;
  color: #ff6d11;
}
header article.all div.all ul div:last-child li:last-child {
  visibility: hidden;
}
main div.picture {
  height: 100%;
  height: 180px;
  margin-top: 75px;
  overflow: hidden;
}
main div.picture img {
  height: 100%;
  transform: translateX(-50px);
}
main section.icon {
  background-color: white;
}
main section.icon .fa {
  font-size: 30px;
}
main section.icon ul li {
  width: 19%;
}
main section.icon ul li span {
  font-size: 5px;
}
main section.icon ul.first {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
main section.icon ul.first li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section.icon ul.second {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
main section.icon ul.second li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section.picture {
  display: flex;
}
main section.picture article.mid {
  flex-flow: 1;
  width: 5px;
  background-color: #d1d1d1;
}
main section.picture article {
  width: 49%;
  height: 350px;
  margin-top: 10px;
}
main section.picture article:first-child div {
  height: 100%;
  overflow: hidden;
}
main section.picture article:first-child div img {
  height: 100%;
}
main section.picture article:last-child {
  display: flex;
  flex-direction: column;
}
main section.picture article:last-child div.pic {
  background-color: #f0f0f0;
  height: 49%;
  overflow: hidden;
}
main section.picture article:last-child div.pic img {
  width: 100%;
}
main section.picture article:last-child div.mid {
  height: 5px;
  flex-grow: 1;
}
footer {
  background-color: #f0f0f0;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul li {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer ul li .fa {
  font-size: 20px;
}
footer ul li span {
  font-size: 5px;
}
footer ul li:first-child {
  color: #ff6d11;
}
